{% extends "_layout.html" %}
{% block content %}

  <div class="home-slider">
      <div>
          <div class="slider-item dark-bg" style="background-image:url('images/slider/slider-1.jpg')">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="slide-inner text-left">
                              <h1 style="color: white">From Timeless to Trendy</h1>
                              <p>Our designers have it all</p>
                              <br />
                              <br />
                              <br />
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
      <div>
          <div class="slider-item dark-bg" style="background-image:url('images/slider/slider-2.png')">
              <div class="container">
                  <div class="row">
                      <div class="col-md-3">
                          <div class="slide-inner text-left">
                              <h1 style="color: white;">Prom 2020! It's here</h1>
                              <a href="gown/prom.html" class="btn btn-main">View Favorites</a>
                              <br />
                              <br />
                              <br />
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div>
          <div class="slider-item dark-bg" style="background-image:url('images/slider/slider-3.jpg'); background-position:50%;background-repeat:no-repeat;">
              <div class="container">
                  <div class="slide-inner text-left">
                      <h1>Make Your Appointment Today</h1>
                      <p style="color: white;">We can't wait to find your dream gown</p>
                      <br />
                      <br />
                      <br />

                  </div>
              </div>
          </div>
      </div>
  </div>

  <section style="margin-top: 5em; margin-bottom: 2em;">
      <div style="">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <center>
                          <a href="appointments.htm">
                              <img src="images/home/champagne.jpg" style="height:250px; width:300px; " />
                              <br />
                              <br />
                              <span style="margin-top: .5em; font-size: large;">
                                  Private Appointment
                              </span>
                          </a>
                      </center>
                  </div>
                  <div class="col-md-4">
                      <center>
                          <a href="gown/bridesmaids.html">
                              <img src="images/home/bridesmaid_header.png" style="height:250px; width:300px; " />
                              <br />
                              <br />
                              <span style="margin-top: .5em; font-size: large;">
                                  Dress your girls
                              </span>
                          </a>
                      </center>
                  </div>
                  <div class="col-md-4">
                      <center>
                          <a href="gown/prom.html">
                              <img src="images/home/prom_header.png" style="height:250px; width:300px; " />
                              <br />
                              <br />
                              <span style="margin-top: .5em; font-size: large;">
                                  Prom 2020
                              </span>
                          </a>
                      </center>
                  </div>
              </div>
          </div>
      </div>
  </section>
{% endblock %}